{% extends 'base.html.twig' %}

{% block title %}{{ mainpage.title }}{% endblock title %}

{% block content%}
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-9">
            <h1>{{ block('title') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 hidden-sm hidden-xs">
            <img src="{{ asset(app.request.basePath~'/'~mainpage.getWebPath) }}" alt="Автоинструктор в Минске" title="Автоинструктор в Минске" width="150" class="img-thumbnail">
        </div>
        <div class="col-lg-9">
            <p>{{ mainpage.text|raw }}</p>
        </div>
    </div>
{% endblock content%}

{% block one_column_template  %}
    <div class="hidden-sm hidden-xs">
        {{ render(controller('SliderBundle:Default:index')) }}
    </div>
{% endblock one_column_template %}
