{% extends 'base.html.twig' %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path(menu['Главная']) }}">Главная</a></li>
        <li>Отзывы</li>
    </ul>
{% endblock breadcrumb %}
{% block title %}Отзывы автоинструктор в Минске{% endblock title %}
{% block content%}
    <h1>{{ block('title') }}</h1>
    {% for feedbackPost in feedbackPosts %}
        <div class="panel panel-success">
            <div class="panel-body">
                <div>{{ feedbackPost.text }}</div>
            </div>
            <div class="panel-footer">{{ feedbackPost.updateAt|date('d.m.Y') }} {{ feedbackPost.author }}</div>
        </div>
    {% endfor %}
    {% render(controller('FeedbackBundle:Feedback:getFeedbackForm')) %}
{% endblock content %}